.gray-box {
    background-color: #808080;
    color: white;
    font-size: 30px;
    text-align: left;
    margin-bottom: 25px;
    padding: 15px;
    padding-left: 15px;
}

.dark-box {
    padding-top: 10px;
    padding-bottom: 2px;
    background-color: #025cbd;
    color: white;
    text-align: left;
}

.light-box {
    background-color: #007bff;
    color: white;
    text-align: left;
    padding: 15px;
}

.secondary {
    font-size: 20px;
    padding-top: 20px;
    padding-bottom: 22px;
}

.alt {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.faq {
    padding: 5px;
    font-size: 25px;
}