@font-face {
    font-family: 'komodaregular_';
    src: url('komoda-webfont.woff2') format('woff2'),
         url('komoda-webfont.woff') format('woff'),
         url('komoda.otf') format("opentype");
    font-weight: normal;
    font-style: normal;
}

h1 {
  text-align: center;
  font-family: "komodaregular_";
  font-size: 150px
}
body {
  background-color: #fff !important;
  background-attachment: fixed, fixed !important;
  background-image: url("../static/demo-background.png") !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  text-align: center;
}
.profile_img {
  vertical-align: middle !important;
  width: 300px !important;
  height: 300px !important;
  border-radius: 50% !important;
}

.top_layout {
  padding-top: 150px;
  padding-bottom: 100px;
  font-family: "Source Sans Pro," Helvetica, sans-serif;
  font-weight: 900;
  letter-spacing: 0.075 em;
  margin: 0 0 2em 0 !important;
  color: #ffffff;
  font-size: 1em;
  line-height: 1;
  vertical-align: baseline;
}

.top_layout p{
  font-size: 1.20rem;
  font-style: italic;
  margin-top: -0.25rem;
  text-align: center;
  margin: 0 0 2rem 0;
  vertical-align: baseline;
  font-family: "Courier New", Courier, monospace;
  box-sizing: border-box;
}

.top_layout h1{
  text-align: center;
}

.top_layout ul {
  list-style-type: none;
  margin-left: -1rem;
  padding-left: 0;
}
.top_layout a:hover {
  border-color: rgba (255, 255, 255, 0);
  color: #007872 !important;
  box-shadow: inset 0 0 0 2px;
}

.top_layout a {
  background-color: rgba(255, 255, 255, 0);
  color: #ffffff !important;
  box-shadow: inset 0 0 0 2px;
  border-bottom-color: rgba(255, 255, 255, 0.5);
  position: relative;
  width: 4rem;
  height: 4rem;
  line-height: 4rem;
  border-radius: 4rem;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  text-decoration: none;
}

.blend-top {
  color: #ffffff;
  display: flex;
  background: rgba(0, 0, 0, 0.175);
  height: 4rem;
  line-height: 4rem;
  margin: -4rem auto 0 auto;
  overflow: hidden;
  padding: 0 2rem 0 0;
  position: relative;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2;
}

.blend-top-2 {
  color: #ffffff;
  display: flex;
  background: rgba(0, 0, 0, 0.175);
  height: 4rem;
  line-height: 4rem;
  margin: -4rem auto 0 auto;
  overflow: hidden;
  padding: 0 2rem 0 0;
  position: relative;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2;
}

.blend-top h2 {
  font-family: "komodaregular_";
  font-size: 50px;
  padding-top: 4px;
  padding-left: calc(50% - 2em);
}

.blend-top-2 h2 {
  font-family: "komodaregular_";
  font-size: 50px;
  padding-top: 4px;
  padding-left: calc(50% - 1.485em);
}

.content {
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
  width: calc(100% - 4rem);
  max-width: 72rem;
  z-index: 2;
  padding-top: 75px;
  padding-bottom: 20px;
  margin-bottom: 125px;
}

.content h3 {
  color: #EC380B;
  padding-top: 20px;
  font-family: "Courier New", Courier, monospace;
}

.content p {
    margin-left: 100px;
    margin-right: 100px;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 75px;
}

.content h2 {
  margin-bottom: 25px;
  color: #EC380B;
  font-family: "Courier New", Courier, monospace;
}

.content a:hover {
    color: #A5C5C3 !important;
    text-decoration: underline;
}

.content a {
    color: #f05f3b !important;
}

footer {
    padding-top: 0;
    color: rgba(255, 255, 255, 0.75);
    padding-bottom: 30px;
}

.chart-2 table {
  margin: 0 0 2em 0;
  width: 100%
  border-collapse:collapse;
  border-spacing: 0;
}

.chart-2 table th {
  color: #555;
  font-size: 0.9em;
  font-weight: 400;
  padding: 0 0.75em 0.75em 0.75em;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.chart-2 table td {
padding: 0.75em 0.75em;
background-color: #f2f2f2;
border-bottom: 1px solid #ddd;
}
