{% extends "pageTemplate.html" %}

{% block title %}
About
{% endblock %}

{% block about %}
active
{% endblock %}

{% block content %}

<script src="https://kit.fontawesome.com/2f360abc07.js" crossorigin="anonymous"></script>
<link rel="stylesheet" href="../static/about.css" />
<!-- !PAGE CONTENT! -->
  <div class="top_layout" id="Intro">
    <h1>About Us</h1>
    <p>
      Learn more about the team who created this project
      </br>
      and the tools we used to build it.
    </p>
    <ul class="action" >
      <li>
        <a href="#content" class="fas fa-arrow-down">
        </a>
      </li>
    </ul>
  </div>
  <!-- Bleding -->
  <div class="blend-top">
    <h2> Meet the Team</h2>
  </div>
  <!-- Photos -->
  <div id ="content" class="content">
      <img src="static/mem_1A.png" alt="Ailyn's Image" class="profile_img">
      <h3>Ailyn Aguirre</h3>
      <p>
        Bio: CS major who is very excited to graduate in the fall!
        <br/>
        Major Responsibilities: Front and backend for the foodbank secion, also set up AWS. For phase two she Created the
        API and backend for the Food Resources page, and also was in charge
        of deployment. She helped write documentation and also served to help direct the backend
        team in creating their API. Lastly she wrote majority of the unit tests for the second phase. In the final phase,
        she helped create the presentation and edited our Wiki page.
        <br/>
        Number of Commits: 104
        <br/>
        Number of Issues: 6
        <br/>
        Number of Unit Tests: 9
      </p>

      <img src="static/mem2A.png" alt="Ana's Picture" class="profile_img">
      <h3>Ana Williams</h3>
      <p>
        Bio: A rising junior at the University of Texas at Austin who is ready
        for Corona to go away.
        <br/>
        Major Responsibilities: Worked as team lead and
         created the splash and about me pages. For phase two she worked to
         create the landing page, about page, and food resources page,
         created the CSS that was used to style all pages,
         and created the graphics used on all pages. In the final phase, She went back and edited
         style on all pages and created the style for the channels page.
        <br/>
        Number of Commits: 178
        <br/>
        Number of Issues: 17
        <br/>
        Number of Unit Tests: 5
      </p>

      <img src="static/mem_1J.png" alt="Joshua's Picture" class="profile_img">
      <h3>Joshua Olivares</h3>
      <p>
        Bio: CS major at the University of Texas Austin who loves conservation.
        <br/>
        Major Responsibilities: Worked on the backend and documentation for demographics and shelters sections.
        Of the group had the most backend experience. Hence, in phase two he created the API for
        the demographics page and worked to create the UML model for the project, he also helped write the unit tests. Furthermore,
        he implemented the search feature on all of the pages.
        <br/>
        Number of Commits: 51
        <br/>
        Number of Issues: 12
        <br/>
        Number of Unit Tests: 5
      </p>

      <img src="static/mam_1S.png" alt="Samarth's Picture" class="profile_img">
      <h3>Samarth Goyal</h3>
      <p>
        Bio: Junior in UTCS who also loves Finance, trading, and sports!
        <br/>
        Major Responsibilities: Front and Back end for Homeless Shelters part of the project.
        In phase two he created the API and backend calls for the shelters page.
        He also added to the documentation on the Wiki page. In addition, Samarth
        implemented the backend Api for the channels page and added it to the nav bar.
        <br/>
        Number of Commits: 55
        <br/>
        Number of Issues: 8
        <br/>
        Number of Unit Tests: 5
      </p>

      <img src="static/mem_1W.png" alt="Will's Picture" class="profile_img">
      <h3>Will Xu</h3>
      <p>
        Bio: A Computer Science Senior
        <br/>
        Major Responsibilities: Worked on the demographics page's front end. For phase two,
        he worked as a frontend developer and worked on the demographics
         and shelters page frontend. In addition, he created a nav bar
         template to be added automatically across all pages and did the
         pagination across the three pillar pages. He also worked to create
         the presentation and many of the unit tests.
        <br/>
        Number of Commits: 50
        <br/>
        Number of Issues: 8
        <br/>
        Number of Unit Tests: 11
      </p>
  </div>
  <!-- End of photos-->

  <!-- Bleding -->
  <div class="blend-top">
    <h2>How We Built It</h2>
  </div>
  <!-- Stats -->
  <div class="content">
  <h2 > Project Statistics </h2>
  <p>
    Total Number of Commits: 438
    <br/>
    Total Number of Issues: 51
    <br/>
    Total Number of Unit Tests: 35
    <br/>
    <a href="https://documenter.getpostman.com/view/11826671/T17FCpAu?version=latest">Postman API</a>
    <br/>
    <a href="https://gitlab.com/anaw4804/helpinghomeless/-/issues">Git Issue Tracker</a>
    <br/>
    <a href="https://gitlab.com/anaw4804/helpinghomeless">GitLab Repo</a>
    <br />
    <a href="https://gitlab.com/anaw4804/helpinghomeless/-/wikis/Helping-Homeless-Documentation">GitLab Wiki</a>

  <h2> Data </h2>
  <p>
    The schema for the API was first generated via Postman.
    It was then formatted and adjusted to only reflect the true attributes of the API.
    This was then all put inside varios json file's for each pillar and leveraged inside
     a ‘create database’ file which loads the JSON and populates the database with appropriate
      rows and columns of data. On the front end, the database entries are passed onto the HTML page via
       our @app.route calls and the appropriate HTML page is invoked with the right data parameters!
      <br/>
    <a href="https://healthdata.gov/dataset/point-time-estimates-homelessness-us-state">Demographics' Data Source</a>
    <br/>
    <a href="https://opendata.dc.gov/datasets/homeless-shelter-locations/geoservice">Shelters' Data Source </a>
    <br/>
    <a href="https://charity.3scale.net/docs/data-api/reference">Food Bank's Data Source</a>
  </p>

  <h2> Tools </h2>
    <p>
    In order to create this Web Application we used HTML/CSS, React, and Javascript for front end productions.
    To impliment the backend we used Python and Flask, in addition to creating a postman workspace for a RESTful API.
    </p>

  <h2> Presentation </h2>
  <p>
    <a href="https://speakerdeck.com/willx/helping-homeless-2">Here is the link to our SpeakDeck!</a>
  </p>
    <h2> Tests </h2>
      <p>
      Click the button to run our tests and see the output of each test.
      </p>
<!-- Button -->
<form action="{{url_for('about')}}" method='post' id='test' >
<button type="submit" form='test' value='Submit'>Get Tests</button>


</div>
{% endblock %}
