<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/channel.css" />
    <script src="https://kit.fontawesome.com/2f360abc07.js" crossorigin="anonymous"></script>
    <script src="../static/sorttable.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript"  src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript"  src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="../static/highlight.js"></script>
<script>
$(document).ready(function(){
    $('sortable').dataTable();
});
</script>
    <title>Channel Resources</title>
  </head>

  <body onload="javascript:doSearch('{{search}}', 'yellow')">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!-- Nav Bar Code -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">Helping Homeless</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Demographics')}}">Demographics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('shelters')}}">Shelters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('foodResources')}}">Food Banks</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('Channelsget')}}">Channels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Nav Bar End -->


    <!-- Top Landing -->
    <div class="top_layout" id="Intro">
      <h1>Streamers</h1>
      <p>
        As part of this project, we are required to implement another team's API.
        </br>
        See how we use Gameboyz's API that tracks Streamers!
      </p>
      <ul class="action" >
        <li>
          <a href="#chart" class="fas fa-arrow-down"></a>
        </li>
      </ul>
    </div>
    <!-- End Top Landing -->

    <!-- Blending About Food Resources -->
    <div class="blend-top">
      <h2>Streamers</h2>
    </div>
    <!-- End Bleding -->

    <!--Section About Food-->
    <div class="content">
      <img src="../static/game.png" alt="Game Picture" class="profile_img">
      <h3>Channels Resources</h3>
      <p>
        Across the globe, people love video games. Americans alone spent 36 billion dollars on video games alone last year. People are so passionate about video games, not only do they spend time playing them, they also spend time watching others play video games online. People who record themselves playing games and post it online for other peoples viewing pleasure, are called streamers. Streaming has become increasingly popular in the past few years, in fact, some streamers are able to make a living off of recording themselves playing games. Upon hearing that Helping Homeless needed to implement an API over video games and tie it into our webpage, our team was a bit stumped on how to incorporate the topic. The first thought, was to provide a list of streamers knowing that many of them do give aways or events where their streams go to charities. However, upon implementing the API our members discovered an interesting trend. The amount of information available on video games, was vastly larger than the amount of information available about homelessness and outreach. Through viewing the chart of streamers, one can see over twenty pages of data. Compare this to the amount of data to the amount of data available on our other pages. Video games are great, but why is it that as a country we have extensive data on video game streamers, yet so little on homelessness? Homelessness is an issue often left underrepresented and unheard, however, it does not have to left that way.
      </p>
    </div>

    <!--End Section About Food-->

    <!-- Bleding Chart -->
    <div class="blend-top-2">
      <h2>Channels Resources Data</h2>
    </div>
    <!-- End Bleding Chart -->

    <!-- Chart Section -->
    <div class="content">
      <form name="searchbar" action="{{url_for('Channelsget')}}" method="post">
        <input type='search' size='30' name='search', placeholder="{{search}}">
        <input type="submit" value='Search'/>
      </form>
      <p>
        Click the chart section header to sort the table.
      </p>
      <!-- Chart -->
      <div class = "chart" id="chart">
        <table class="sortable" id="myTable">
          <tr>
            <th>Games</th>
            <th>ID</th>
            <th>Language</th>
            <th>Title</th>
            <th>Username</th>
          </tr>
          {% if ChannelsList != [] %}
            {% for i in ChannelsList %}
            <tr class="tableRow">
              <td>{{i.games}}</td>
              <td>{{i.id}}</td>
              <td>{{i.language}}</td>
              <td>{{i.title}}</td>
              <td>{{i.username}}</td>
            </tr>
            {% endfor %}
          {% endif %}
        </table>
      </div>
      <!-- End Chart-->
    <!--pagination-->
  <div>
    {% if prev_url %}
      <a href="{{ prev_url }}">prev</a>
      {% endif %}
      {% if pages != [] %}
        {% for j in range(pages |length) %}
          <a href="{{ pages[j] }}">{{j + 1}}</a>
        {% endfor %}
      {% endif %}
      {% if next_url %}
      <a href="{{ next_url }}">next</a>
      {% endif %}
  </div>
  <!--end of pagination -->
</div>
<!-- End Chart Section -->
    <!-- Footer -->
    <footer>
      <p>
        Helping Homeless
      </p>
    </footer>
    <!-- End Footer -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- End Scripts -->
  </body>
</html>
