{% extends "pageTemplate.html" %}

{% block title %}
Demographics
{% endblock %}

{% block demographics %}
active
{% endblock %}

{% block content %}

<link rel="stylesheet" href="static/demographics.css" />


<!-- Top Landing -->
<div class="top_layout" id="Intro">
  <h1>Demographics</h1>
  <p>
    Take a look through the demographics of how
    </br>
    homelessness affects America.
  </p>
  <ul class="action" >
    <li>
      <a href="#chart" class="fas fa-arrow-down"></a>
    </li>
  </ul>
</div>
<!-- End Top Landing -->

<!-- Blending About Food Resources -->
<div class="blend-top">
  <h2>Homelessness by numbers</h2>
</div>
<!-- End Bleding -->

<!--Section About Food-->
<div class="content">
  <img src="../static/demo-image.png" alt="Food Bank Picture" class="profile_img">
  <h3>Demographics</h3>
  <p>
    Even though America is one of the richest countries in the world, it is still subject
    to the many economic issues that plague other countries. One of them being homelessness.
    People of all types can be found out in the streets with no place to call home and no
    people to call on for help. Through providing demographics on homelessness, we are
    hoping to show how large and wide spread this issue is across all states.
  </p>
</div>

    <!--End Section About Food-->

<!-- Bleding Chart -->
<div class="blend-top-2">
  <h2>Demographics Data</h2>
</div>

<div class="content">
  <form name="searchbar" action="{{url_for('Demographics')}}" method="post">
    <input type='search' size='30' name='search', placeholder="{{search}}">
    <input type="submit" value='Search'/>
  </form>
  <p>
    Click the chart section header to sort the table.
  </p>

  <div class = "chart" id="chart">
    <table class="sortable">
      <tr>
        <th>Time Updated</th>
        <th>State</th>
        <th>Overall Homeless</th>
        <th>Sheltered ES Homeless</th>
        <th>Sheltered TH Homeless</th>
        <th>Details</th>
      </tr>
      {% if data != [] %}
        {% for d in data %}
          <tr class="tableRow">
            <td>{{d.year}}</td>
            <td>{{d.state}}</td>
            <td>{{d.overall}}</td>
            <td>{{d.ES}}</td>
            <td>{{d.TH}}</td>
            <td><a href="{{ url_for('getDemographic', id=d.id) }}">Link</a></td>
          </tr>
        {% endfor %}
      {% endif %}
    </table>
  </div>
  <!--pagination-->
  <div>
    {% if prev_url %}
      <a href="{{ prev_url }}">prev</a>
      {% endif %}
      {% if pages != [] %}
        {% for j in range(pages |length) %}
          <a href="{{ pages[j] }}">{{j + 1}}</a>
        {% endfor %}
      {% endif %}
      {% if next_url %}
      <a href="{{ next_url }}">next</a>
      {% endif %}
  </div>
  <!--end of pagination -->
</div>

</div>

{% endblock%}
