{% extends "pageTemplate.html" %}

{% block title %}
Demographic
{% endblock %}

{% block demographics %}
active
{% endblock %}

{% block content %}

<link rel="stylesheet" href="/static/demographics.css"/>
<script src="https://kit.fontawesome.com/2f360abc07.js" crossorigin="anonymous"></script>

<div class="top_layout" id="Intro">
	<h1>Demographics per State</h1>
	<p>Click to read about demographics in this state.</p>
	<ul class="action" >
		<li>
			<a href="#content" class="fas fa-arrow-down"></a>
		</li>
	</ul>
</div>

<!-- Blending About Food Banks -->
<div class="blend-top-2">
	<h2>Demographics for {{state}}</h2>
</div>
<!-- End Bleding -->

<div class="content" id="content">
	<h3>
		State: {{state}}
	</h3>

	<p> Here is the data for this state! </p>

	<div class = "chart-2" id="chart-2">
		<table class="sortable">`
		  <tr>
		    <th>Time Updated</th>
		    <th>Overall Homeless</th>
		    <th>Sheltered ES Homeless</th>
		    <th>Sheltered TH Homeless</th>
		    <th>Sheltered SH Homeless</th>
		    <th>Sheltered Total Homeless</th>
		    <th>Unsheltered Homeless</th>
		  </tr>
		  {% if data != [] %}
		    <tr class="tableRow">
		        <td>{{data.year}}</td>
		        <td>{{data.overall}}</td>
		        <td>{{data.ES}}</td>
		        <td>{{data.TH}}</td>
		        <td>{{data.SH}}</td>
		        <td>{{data.sheltered_total}}</td>
		        <td>{{data.unsheltered_homeless}}</td>
		    </tr>
		  {% endif %}
		</table>
	</div>

	<div class = "chart-2" id="chart-2">
		<table class="sortable">
		  <tr>
		    <th>Homeless Individuals</th>
		    <th>Sheltered ES Homeless Individuals</th>
		    <th>Sheltered TH Homeless Individuals</th>
		    <th>Sheltered SH Homeless Individuals</th>
		    <th>Sheltered Total Homeless Individuals</th>
		    <th>Unsheltered Homeless Individuals</th>
		  </tr>
		  {% if data != [] %}
		    <tr class="tableRow">
		        <td>{{data.homeless_individuals}}</td>
		        <td>{{data.ES_individuals}}</td>
		        <td>{{data.TH_individuals}}</td>
		        <td>{{data.SH_individuals}}</td>
		        <td>{{data.sheltered_total_individuals }}</td>
		        <td>{{data.unsheltered_homeless_individuals}}</td>
		    </tr>
		  {% endif %}
		</table>
	</div>

	<div class = "chart-2" id="chart-2">
		<table class="sortable">
		  <tr>
		    <th>Homeless People in Families</th>
		    <th>Sheltered ES Homeless People in Families</th>
		    <th>Sheltered TH Homeless People in Families</th>
		    <th>Sheltered Total Homeless People in Families</th>
		    <th>Unsheltered Homeless People in Families</th>
		    <th>Homeless Family Households</th>
		  </tr>
		  {% if data != [] %}
		    <tr class="tableRow">
		        <td>{{data.homeless_families}}</td>
		        <td>{{data.ES_families}}</td>
		        <td>{{data.TH_families}}</td>
		        <td>{{data.sheltered_families}}</td>
		        <td>{{data.unsheltered_families}}</td>
		        <td>{{data.homeless_households}}</td>
		    </tr>
		  {% endif %}
		</table>
	</div>
</div>

{% endblock %}
