{% extends "pageTemplate.html" %}

{% block title %}
foodBank.charityName
{% endblock %}

{% block foodResources %}
active
{% endblock %}

{% block content %}

<link rel="stylesheet" href="{{url_for('static', filename='foodEdit.css')}}" />
<div id="root"></div>

  <!-- Top Landing -->
  <div class="top_layout" id="Intro">
  {% if foodBank != None %}
    <h1 class="resource">{{foodBank.charityName}}</h1>
    <p class="tagline">{{foodBank.tagLine}}</p>
    <ul class="action" >
      <li>
        <a href="#content" class="fas fa-arrow-down"></a>
      </li>
    </ul>
  </div>

  <!-- Blending About Food Banks -->
  <div class="blend-top">
    <h2>About This Organization</h2>
  </div>
  <!-- End Bleding -->

  <!--Content Start-->
  <div class="content" id="content">
        <h3>Address</h3>
        <p>{{foodBank.streetAddress1}}{% if foodBank.streetAddress2 != None %}, {{foodBank.streetAddress2}}{% endif %}
          <br>
          {{foodBank.city}}, {{foodBank.stateOrProvince}} {{foodBank.postalCode}}
        </p>
        <h3>Charity Rating</h3>

          {% if foodBank.rating == 5 %}
            <img src="{{url_for('static', filename='5stars.png')}}" style="height:30px;">
          {% elif foodBank.rating == 4 %}
            <img src="{{url_for('static', filename='4stars.png')}}" style="height:30px;">
          {% elif foodBank.rating == 3 %}
            <img src="{{url_for('static', filename='3stars.png')}}" style="height:30px;">
          {% elif foodBank.rating == 2 %}
            <img src="{{url_for('static', filename='2stars.png')}}" style="height:30px;">
          {% else %}
            <img src="{{url_for('static', filename='1star.png')}}" style="height:30px;">
          {% endif %}

        <h3>Mission</h3>
        <p>{{foodBank.mission}}</p>
        <h3>Learn More</h3>
        <a href="{{foodBank.websiteURL}}">{{foodBank.websiteURL}}</a>
        <br>
        <a href="{{foodBank.charityNavigatorURL}}">{{foodBank.charityNavigatorURL}}</a>
  {% endif %}
</div>
{% endblock %}
