<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../static/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/food.css" />
    <script src="https://kit.fontawesome.com/2f360abc07.js" crossorigin="anonymous"></script>
    <script src="../static/sorttable.js"></script>
    <script src="../static/highlight.js"></script>
    <title>Food Resources</title>
  </head>

  <body onload="javascript:doSearch('{{search}}', 'yellow')">
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <!-- Nav Bar Code -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">Helping Homeless</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('index')}}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Demographics')}}">Demographics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('shelters')}}">Shelters</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{url_for('foodResources')}}">Food Banks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Channelsget')}}">Channels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- Nav Bar End -->


    <!-- Top Landing -->
    <div class="top_layout" id="Intro">
      <h1>Food Resources</h1>
      <p>
        Take a look through this list of charities in America that focus on
        </br>
        food banks, food pantries, and food distribution.
      </p>
      <ul class="action" >
        <li>
          <a href="#chart" class="fas fa-arrow-down"></a>
        </li>
      </ul>
    </div>
    <!-- End Top Landing -->

    <!-- Blending About Food Resources -->
    <div class="blend-top">
      <h2>Role of Food Resources</h2>
    </div>
    <!-- End Bleding -->

    <!--Section About Food-->
    <div class="content">
      <img src="../static/food-cont.png" alt="Food Bank Picture" class="profile_img">
      <h3>Food Resources</h3>
      <p>
        Food Banks, Food Pantries, and Food distribution centers are non-profit
        organizations that work to distribute food to people in need of it.
        These organization's main mission is to provide hunger-relief, and often
        take in donations of food or money to make ends meet. Each year, these organizations
        distribute millions of pounds of food to over 37 million Americans. If looking to donate
        canned foods, dried pastas, box stuffing, dried beans, nuts, trail-mix, and peanut butter
        are all great options. Foods with a long shelf life are the best donations. Furthermore,
        money donations are often accepted and used to provide more meals.
      </p>
    </div>

    <!--End Section About Food-->

    <!-- Bleding Chart -->
    <div class="blend-top">
      <h2>Food Resources Data</h2>
    </div>
    <!-- End Bleding Chart -->

    <!-- Chart Section -->
    <div class="content">
      <form name="searchbar" action="{{url_for('foodResources')}}" method="post">
        <input type='search' size='30' name='search', placeholder="{{search}}">
        <input type="submit" value='Search'/>
      </form>
      <p>
        Click the chart section header to sort the table.
      </p>
      <!-- Chart -->
      <div class = "chart" id="chart">
        <table class="sortable">
          <tr>
            <th>Charity Name</th>
            <th>Tagline</th>
            <th>Street Address</th>
            <th>City</th>
            <th>State or Province</th>
            <th>Postal Code</th>
            <th>Website</th>
            <th>Rating</th>
          </tr>
          {% if foodBankList != [] %}
            {% for i in foodBankList %}
            <tr class="tableRow" onclick="document.location = '{{url_for('foodBank', id=i.id)}}';">
              <td>{{i.charityName}}</td>
              <td>{{i.tagLine}}</td>
              <td>{{i.streetAddress1}}{% if i.streetAddress2 != None %}, {{i.streetAddress2}}{% endif %}</td>
              <td>{{i.city}}</td>
              <td>{{i.stateOrProvince}}</td>
              <td>{{i.postalCode}}</td>
              <td><a href='{{i.websiteURL}}'>{{i.websiteURL}}</a></td>
              <td>{{i.rating}}</td>
            </tr>
            {% endfor %}
          {% endif %}

        </table>
      </div>
      <!-- End Chart-->
      <!--pagination-->
      <div>
        {% if prev_url %}
          <a href="{{ prev_url }}">prev</a>
          {% endif %}
          {% if pages != [] %}
            {% for j in range(pages |length) %}
              <a href="{{ pages[j] }}">{{j + 1}}</a>
            {% endfor %}
          {% endif %}
          {% if next_url %}
          <a href="{{ next_url }}">next</a>
          {% endif %}
      </div>
      <!--end of pagination -->
    </div>
    <!-- End Chart Section -->

    <!-- Footer -->
    <footer>
      <p>
        Helping Homeless
      </p>
    </footer>
    <!-- End Footer -->

    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <!-- End Scripts -->
  </body>
</html>
