<!doctype html>
<html>
  <head>
    <title>Helping Homeless</title>
    <script>window.token="{{flask_token}}"</script>
    <meta charset="utf-8"/><meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no"/>
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}"/>
    <noscript><link rel="stylesheet" href="{{url_for('static', filename='noscript.css')}}"/></noscript>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="/static/react/css/main.a07c342d.chunk.css" rel="stylesheet">
  </head>
  <body class="is-preload">
    <div id="root"></div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand">Helping Homeless</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Demographics')}}">Demographics</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('shelters')}}">Shelters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('foodResources')}}">Food Banks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('Channelsget')}}">Channels</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('about')}}">About Us</a>
          </li>
        </ul>
      </div>
    </nav>
    <section id="header">
      <div class="inner">
        <span class="icon solid major fa-heart">
        </span>
        <h1><strong>Helping Homeless</strong></h1>
        <p>Providing demographics regarding homelessness in America
          <br/>
          promoting what you can do to help and where you can go to receive help</p>
          <ul class="actions special">
            <li>
              <a href="#one" class="button scrolly">Learn More</a>
            </li>
          </ul>
        </div>
      </section>
      <section id="one" class="main style1">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium">
              <header class="major">
                <h2>Our Mission</h2>
              </header>
              <p>
                At any given night in America, there is  over half a million people left sleeping on the street. Half a million people without a roof over their head, AC or heating, a bed, or basic necessities such as toothbrushes and tooth paste. Luckily, there are various places people can go to receive these necessities along with a bed and roof over their head. We have compiled a list of various homeless shelters bellow so you can find the one nearest to you. If looking to donate to a shelter, they are always in need of serious items. These include: soap and deodorant, toothbrushes and tooth paste, washcloths and bath towels, feminine hygiene products, shaving cream and razors, new socks, new underwear, new/gently used winter coats, new/gently used gloves, new/gently used hats, new/gently used scarves, instant hand warmers, laundry detergent, twin sheets, toilet paper and wipes, and disposable diapers. All of these products can be used to provide to those in need. 
              </p>
            </div>
            <div class="col-6 col-12-medium imp-medium">
              <span class="image fit">
                <img src="{{url_for('static', filename='mission1.png')}}" alt="Looking for Kindness"/>
              </span>
            </div>
          </div>
        </div>
      </section>
      <section id="two" class="main style2">
        <div class="container">
          <div class="row gtr-150">
            <div class="col-6 col-12-medium">
              <ul class="major-icons">
                <li>
                  <span class="icon solid style1 major fa-info">
                  </span>
                </li>
                <li>
                  <span class="icon solid style2 major fa-bullhorn">
                  </span>
                </li>
                <li>
                  <span class="icon solid style3 major fa-bed"></span>
                </li>
                <li>
                  <span class="icon solid style4 major fa-bath"></span>
                </li>
                <li>
                  <span class="icon solid style5 major fa-heart">
                  </span>
                </li>
                <li>
                  <span class="icon solid style6 major fa-barcode"></span>
                </li>
              </ul>
            </div>
            <div class="col-6 col-12-medium">
              <header class="major">
                <h2>What We Do</h2>
              </header>
              <p>
                For many people, they live their life unaware of the struggles others are facing in their day to day life. This is often the case with homelessness. A staggering half a million people are left without basic necessities, yet they remained unheard and unseen. The first part of what we do is to provide demographics on homelessness. Through informing others of the magnitude of this issue, we hope to promote outreach for those in need. Furthermore, we hope to provide more of a voice to the issue, spurring on a civil movement.
              </p>
                <p>
                  There are some great organizations in place to help homeless populations; however, they are often in need of donations and volunteers. We do our best to remedy this issue by providing locations of homeless shelters in America. These shelters provide protection and shelter for those in need. We are providing data on these shelters. If hoping to take a step in beating homelessness, this will provide a starting place for you. On the other hand, if you are in need of a place to stay and are unsure where to go we are able to provide that for you.
                </p>
                  <p>
                    The final goal of ours is to provide information on food banks in America.
                    Every year food banks provide meals to over 37 million Americans,
                    so we want to promote them for all they do. Helping Homeless provides
                    locations and ratings of food banks, so those in need can find where
                    to go. Furthermore, we are supplying information so people know where
                    they can donate food to feed the hungry.
                </p>
              </div>
            </div>
          </div>
        </section>
        <section id="three" class="main style1 special">
          <div class="container">
            <header class="major">
              <h2>Our Datasets</h2>
            </header>
            <p>Data provided to help end homelessness</p>
            <div class="row gtr-150">
              <div class="col-4 col-12-medium">
                <span class="image fit">
                  <img src="{{url_for('static', filename='demographics.png')}}" alt=""/>
                </span>
                <h3>Demographics</h3>
                <p>
                  Data collected per state to provide demographics on homelessness.
                   Click to learn more.
                </p>
                <ul class="actions special">
                  <li>
                    <a href="{{url_for('Demographics')}}" class="button">More</a>
                  </li>
                </ul>
              </div>
              <div class="col-4 col-12-medium">
                <span class="image fit">
                  <img src="{{url_for('static', filename='shelter.png')}}" alt=""/></span>
                  <h3>Shelters</h3>
                  <p>
                    Data provided on homeless shelters, their locations,
                    and the name of the shelter.
                    Click to find a shelter near you.
                    <br/>
                  </p>
                  <ul class="actions special">
                    <li>
                      <a href="{{url_for('shelters')}}" class="button">More</a>
                    </li>
                  </ul>
                </div>
                <div class="col-4 col-12-medium">
                  <span class="image fit">
                    <img src="{{url_for('static', filename='food.png')}}" alt=""/>
                  </span>
                  <h3>Food Banks</h3>
                  <p>
                    Data on foodbanks accross America and their locations,
                    ratings, and more. Find the one closest to you.
                    </p>
                    <ul class="actions special">
                      <li>
                        <a href="{{url_for('foodResources')}}" class="button">More</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
            <section id="four" class="main style2 special">
              <div class="container">
                <header class="major">
                  <h2>Who Made This?</h2>
                </header>
                <p>
                  Click the button below to learn nore about the people behind this project.
                </p>
                <ul class="actions special">
                  <li>
                    <a href="{{url_for('about')}}" class="button wide primary">About Us</a>
                  </li>
                  <li>
                    <a href="#" class="button wide">Back to Top</a>
                  </li>
                </ul>
              </div>
            </section>
            <section id="footer">
              <ul class="copyright">
                <li>&copy; Helping Homeless</li>
              </ul>
            </section>
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
            </script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
            </script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
            </script>
            <script src="{{url_for('static', filename='jquery.min.js')}}">
            </script>
            <script src="{{url_for('static', filename='query.scrolly.min.js')}}">
            </script>
            <script src="{{url_for('static', filename='browser.min.js')}}">
            </script>
            <script src="{{url_for('static', filename='breakpoints.min.js')}}">
            </script>
            <script src="{{url_for('static', filename='util.js')}}">
            </script>
            <script src="{{url_for('static', filename='main.js')}}">
            </script>
            <script>
            !function(l){function e(e){for(var r,t,n=e[0],o=e[1],u=e[2],i=0,f=[];i<n.length;i++)t=n[i],c[t]&&f.push(c[t][0]),c[t]=0;for(r in o)Object.prototype.hasOwnProperty.call(o,r)&&(l[r]=o[r]);for(s&&s(e);f.length;)f.shift()();return p.push.apply(p,u||[]),a()}function a(){for(var e,r=0;r<p.length;r++){for(var t=p[r],n=!0,o=1;o<t.length;o++){var u=t[o];0!==c[u]&&(n=!1)}n&&(p.splice(r--,1),e=i(i.s=t[0]))}return e}var t={},c={2:0},p=[];function i(e){if(t[e])return t[e].exports;var r=t[e]={i:e,l:!1,exports:{}};return l[e].call(r.exports,r,r.exports,i),r.l=!0,r.exports}i.m=l,i.c=t,i.d=function(e,r,t){i.o(e,r)||Object.defineProperty(e,r,{enumerable:!0,get:t})},i.r=function(e){"undefined"!=typeof Symbol&&Symbol.toStringTag&&Object.defineProperty(e,Symbol.toStringTag,{value:"Module"}),Object.defineProperty(e,"__esModule",{value:!0})},i.t=function(r,e){if(1&e&&(r=i(r)),8&e)return r;if(4&e&&"object"==typeof r&&r&&r.__esModule)return r;var t=Object.create(null);if(i.r(t),Object.defineProperty(t,"default",{enumerable:!0,value:r}),2&e&&"string"!=typeof r)for(var n in r)i.d(t,n,function(e){return r[e]}.bind(null,n));return t},i.n=function(e){var r=e&&e.__esModule?function(){return e.default}:function(){return e};return i.d(r,"a",r),r},i.o=function(e,r){return Object.prototype.hasOwnProperty.call(e,r)},i.p="/static/react/";var r=window.webpackJsonp=window.webpackJsonp||[],n=r.push.bind(r);r.push=e,r=r.slice();for(var o=0;o<r.length;o++)e(r[o]);var s=n;a()}([])</script>
            <script src="/static/react/js/1.60616efe.chunk.js">
            </script>
            <script src="/static/react/js/main.e3a3c49d.chunk.js">
            </script>
    </body>
</html>
