<!DOCTYPE html>
<html>

<head>
<title>{% block title %}{% endblock %}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="static/main.css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://kit.fontawesome.com/2f360abc07.js" crossorigin="anonymous"></script>
</head>
<script src="../static/sorttable.js"></script>
<script src="../static/highlight.js"></script>
<body onload="javascript:doSearch('{{search}}', 'yellow')">
<!-- Nav Bar Code -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>
    <a class="navbar-brand">Helping Homeless</a>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{{url_for('index')}}">Home<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item {% block demographics %}{% endblock %}">
          <a class="nav-link" href="{{url_for('Demographics')}}">Demographics</a>
        </li>
        <li class="nav-item {% block shelters %}{% endblock %}">
          <a class="nav-link" href="{{url_for('shelters')}}">Shelters</a>
        </li>
        <li class="nav-item {% block foodResources %}{% endblock %}">
          <a class="nav-link" href="{{url_for('foodResources')}}">Food Banks</a>
        </li>
        <li class="nav-item {% block Channelsget %}{% endblock %}">
          <a class="nav-link" href="{{url_for('Channelsget')}}">Channels</a>
        </li>
        <li class="nav-item {% block about %}{% endblock %}">
          <a class="nav-link" href="{{url_for('about')}}">About Us<span class="sr-only">(current)</span></a>
        </li>
        
      </ul>
    </div>
</nav>
<noscript>You need to enable JavaScript to run this app.</noscript>
<!-- Nav Bar Code -->

{% block content %}
{% endblock %}

<footer>
  <p>
    Helping Homeless
  </p>
</footer>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
<!-- Nav Bar End -->
