{% extends "pageTemplate.html" %}

{% block title %}
Shelters
{% endblock %}

{% block shelters %}
active
{% endblock %}

{% block content %}

<link rel="stylesheet" href="../static/shelters.css" />
<div id="root"></div>

<div class="top_layout" id="Intro">
	<h1>{{shelter.facilityName}}</h1>
	<p class="tagline">
		Read more about this shelter.
	</p>
	<ul class="action" >
		<li>
			<a href="#content" class="fas fa-arrow-down"></a>
		</li>
	</ul>
</div>

<!-- Blending About Food Banks -->
<div class="blend-top-2">
	<h2>Shelters Data</h2>
</div>
<!-- End Bleding -->
<div class="content" id="content">
	<h2>
		{{shelter.facilityName}}
	</h2>
	{% if shelter != [] %}
	<h3>Address</h3>
	<p>{{shelter.address}}</p>
	<h3>City</h3>
	<p>{{shelter.city}}</p>
	<h3>State</h3>
	<p>{{shelter.state}}</p>
	<h3>Zip</h3>
	<p>{{shelter.zip}}</p>
	<h3>Owner</h3>
	<p>{{shelter.ownerRenter}}</p>
	<h3>Provider</h3>
	<p>{{shelter.provider}}</p>
	<h3>Type</h3>
	<p>{{shelter.subtype}}</p>
	{% endif %}
</div>
{% endblock %}
