<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="%PUBLIC_URL%/favicon.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta
      name="description"
      content="Web site created using create-react-app"
    />
    <link rel="apple-touch-icon" href="%PUBLIC_URL%/logo192.png" />
    <!--
      manifest.json provides metadata used when your web app is installed on a
      user's mobile device or desktop. See https://developers.google.com/web/fundamentals/web-app-manifest/
    -->
    <link rel="manifest" href="%PUBLIC_URL%/manifest.json" />
    <!--
      Notice the use of %PUBLIC_URL% in the tags above.
      It will be replaced with the URL of the `public` folder during the build.
      Only files inside the `public` folder can be referenced from the HTML.

      Unlike "/favicon.ico" or "favicon.ico", "%PUBLIC_URL%/favicon.ico" will
      work correctly both with client-side routing and a non-root public URL.
      Learn how to configure a non-root public URL by running `npm run build`.
    -->
    <title>{{shelter.facilityName}}</title>
    <style>
      /* Create two columns/boxes that floats next to each other */
      nav {
        float: left;
        width: 30%;
        padding: 20px;
        text-align: center;
      }

      /* Style the list inside the menu */
      nav ul {
        list-style-type: none;
        padding: 0;
      }

      /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
      @media (max-width: 600px) {
        nav, article {
          width: 100%;
          height: auto;
        }
      }
    </style>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
      {% if shelter != None %}
        <h1 class="resource">{{shelter.facilityName}}</h1>
        <section>
          <nav>
            <h3>Latitude</h3>
            <p>{{shelter.latitude}}</p>
            <h3>Longitude</h3>
            <p>{{shelter.longitude}}</p>
            <h3>Subtype</h3>
            <p>{{shelter.subtype}}</p>
            <h3>Status</h3>
            <p>{{shelter.status}}</p>
            <h3>Number of Beds</h3>
            <p>{{shelter.numberOfBeds}}</p>   
            <h3>Ages Served</h3>
            <p>{{shelter.agesServed}}</p>
            <h3>How to Access</h3>
            <p>{{shelter.howToAccess}}</p>
            <h3>LGBTQ Served</h3>
            <p>{{shelter.LGBTQServed}}</p>
          </nav>
        </section>
      {% endif %}
  </body>
</html>