{% extends "pageTemplate.html" %}

{% block title %}
Shelters
{% endblock %}

{% block shelters %}
active
{% endblock %}

{% block content %}

<link rel="stylesheet" href="static/shelters.css" />
<script src="https://kit.fontawesome.com/2f360abc07.js" crossorigin="anonymous"></script>

<!-- Top Landing -->
<div class="top_layout" id="Intro">
  <h1>Shelters</h1>
  <p>
    Take a look through homeless shelters in America.
  </p>
  <ul class="action" >
    <li>
      <a href="#chart" class="fas fa-arrow-down"></a>
    </li>
  </ul>
</div>
<!-- End Top Landing -->

<!-- Blending About Food Resources -->
<div class="blend-top">
  <h2>Sheltering those without homes</h2>
</div>
<!-- End Bleding -->

<!--Section About Food-->
<div class="content">
  <img src="../static/shelter-image.png" alt="Shelter" class="profile_img">
  <h3>Shelters</h3>
  <p>
    At any given night in America, there is  over half a million people left sleeping on the street. Half a million people without a roof over their head, AC or heating, a bed, or basic necessities such as toothbrushes and tooth paste. Luckily, there are various places people can go to receive these necessities along with a bed and roof over their head. We have compiled a list of various homeless shelters bellow so you can find the one nearest to you. If looking to donate to a shelter, they are always in need of serious items. These include: soap and deodorant, toothbrushes and tooth paste, washcloths and bath towels, feminine hygiene products, shaving cream and razors, new socks, new underwear, new/gently used winter coats, new/gently used gloves, new/gently used hats, new/gently used scarves, instant hand warmers, laundry detergent, twin sheets, toilet paper and wipes, and disposable diapers. All of these products can be used to provide to those in need.
  </p>
</div>

    <!--End Section About Food-->

<!-- Bleding Chart -->
<div class="blend-top-2">
  <h2>Shelters Data</h2>
</div>

<div class="content">
  <form name="searchbar" action="{{url_for('shelters')}}" method="post">
    <input type='search' size='30' name='search', placeholder="{{search}}">
    <input type="submit" value='Search'/>
  </form>
  <p>
    Click the chart section header to sort the table.
  </p>

<div class = "chart" id="chart">
  <table class="sortable">
    <tr>
      <th>Facility Name</th>
      <th>Owner Renter</th>
      <th>Provider</th>
      <th>Address</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
    </tr>
    {% if shelterList != [] %}
      {% for i in shelterList %}
        <tr class="tableRow" onclick="document.location = '{{url_for('shelter', id=i.objectid)}}';">
          <td>{{i.facilityName}}</td>
          <td>{{i.ownerRenter}}</td>
          <td>{{i.provider}}</td>
          <td>{{i.address}}</td>
          <td>{{i.city}}</td>
          <td>{{i.state}}</td>
          <td>{{i.zip}}</td>
        </tr>
      {% endfor %}
    {% endif %}
  </table>
</div>
<!--end of chart-->

<!--pagination-->
<div>
  {% if prev_url %}
    <a href="{{ prev_url }}">prev</a>
    {% endif %}
    {% if pages != [] %}
      {% for j in range(pages |length) %}
        <a href="{{ pages[j] }}">{{j + 1}}</a>
      {% endfor %}
    {% endif %}
    {% if next_url %}
    <a href="{{ next_url }}">next</a>
    {% endif %}
</div>
{% endblock %}
